*{
    padding: 0;
    margin: 0;
    
}
body{
    background:#eeeeee;
    color: #2f3542 ;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
.banner_img{
    background-color: black
    ;
}
.banner_img img{
    width: 150px;
    height: 150px;
    float: right;
}
.banner_img h1{
    padding-top: 30px;
    color:grey;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    padding-bottom: 30px;
}
.conteiner{
    padding-top:  100px; ;
    background-color: grey;
    display:inline-block;
    height: 1000px;
    width: 30%;
}
ul{
    list-style-type:none;
   
    
}
a{
    text-decoration: none;
    color:#eeeeee;
    background: #353b48;
    padding-top: 15px;
    display: inline-flex;
    padding-left: 20px;
    height: 50px;
    width: 150px;
    margin-top: 40px;
    margin-left: 30px;
    
    
}
a:hover{
    border-bottom: 1px solid #eeeeee;
}

span{
    display: inline-flex;
    flex-wrap: wrap;
    

}
